{% extends 'base_auth.html' %}
{% block title %}reset-password{% endblock %}
{% block header %}
{% endblock %}

{% block content %}
<div class="login_form">
  <form method="post" action="{{ url_for('auth.reset_password') }}">
    <p class="colored-text xl">Reset your password</p>
    <div class="input-group">
      <label for="email">Email address</label>
      <input name="email" id="email" required>
    </div>

    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    <div class="input-group" id="submit_div">
      <input id="submit_btn" type="submit" value="Send">
    </div>
    <p class="s">A temporary password will be sent to this address</p>
  </form>
</div>
{% endblock %}
